# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Backend
backend/.env
chroma_db/

# Node
node_modules/
.next/
out/
build

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Next.js
next-env.d.ts
